<!-- Product -->
<section class="bg0 p-t-23 p-b-140">
		<div class="container">
			<div class="p-b-10">
				<h3 class="ltext-103 cl5">
					<div class="translate">Product Overview</div>
				</h3>
			</div>

			<div class="flex-w flex-sb-m p-b-52">

				<% if (kind !== "all") { %>
				<!-- breadcrumb -->
				<div class="container" style="padding-left: 0px">
					<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg" style="padding-left: 0px">
						<a href="/products" class="stext-109 cl8 hov-cl1 trans-04">
							<span class="translate">All products</span>
							<i class="fa fa-angle-right m-l-9 m-r-10"></i>
						</a>
	
						<span class="stext-109 cl4">
							<div class="translate">&nbsp;<%= kind %></div>
						</span>
					</div>
				</div>
				<% } %>

				<div class="flex-w flex-l-m filter-tope-group m-tb-10">
					<% if (kind == "all") { %>
					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
						<div class="translate">All Products</div>
					</button>
					
					<a href="/women" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 translate">
						Women
					</a>

					<a href="/men" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 translate">
						Men
					</a>

					<a href="/bag" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 translate">
						Bag
					</a>

					<a href="/shoes" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 translate">
						Shoes
					</a>

					<a href="/watches" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 translate">
						Watches
					</a>

					<% } %>
				</div>

				<div class="flex-w flex-c-m m-tb-10">
					<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
						<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
						<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						<div class="translate">Filter</div>
					</div>

					<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
						<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
						<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						<div class="translate">Search</div>
					</div>
				</div>
				
				<!-- Search product -->
				<div class="dis-none panel-search w-full p-t-10 p-b-15">
					<!-- <div class="bor8 dis-flex p-l-15">
						<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>

						<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="Search">
					</div>	 -->
					<form class="bor8 dis-flex p-l-15" method="POST" action="/search">

						<button type="submit" class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>
						<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search" id="search" placeholder="Search">

					</form>
				</div>

				<!-- Filter -->
				<div class="dis-none panel-filter w-full p-t-10">
					<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
							<%
							if (kindFilter === [""]) {
							%>
								<div class="filter-col1 p-r-15 p-b-27">
										<div class="mtext-102 cl2 p-b-15 translate">
											Sort By
										</div>
		
										<ul>
												<form action="/<%= kind %>" method="post">
												<li class="p-b-6">
													<button type="submit" class="filter-link stext-106 trans-04 translate">
														Default
													</button>
													<input type="hidden" name="kindFilter" value="default">
													<input type="hidden" name="kindFilter" value="<%= kindFilter %>">
												</li>
												</form>
												<form action="/<%= kind %>" method="post">
												<li class="p-b-6">
													<button type="submit" class="filter-link stext-106 trans-04 translate">
														Price: Low to High
													</button>
													<input type="hidden" name="kindFilter" value="filter-SB-LH">
													<input type="hidden" name="kindFilter" value="<%= kindFilter %>">
												</li>
												</form>
												<form action="/<%= kind %>" method="post">
												<li class="p-b-6">
													<button type="submit" class="filter-link stext-106 trans-04 translate">
														Price: High to Low
													</button>
													<input type="hidden" name="kindFilter" value="filter-SB-HL">
													<input type="hidden" name="kindFilter" value="<%= kindFilter %>">
												</li>
												</form>
										</ul>
								</div>
								<div class="filter-col3 p-r-15 p-b-27">
										<div class="mtext-102 cl2 p-b-15 translate">
											Price
										</div>
		
										<ul>
											<form action="/<%= kind %>" method="post">
											<li class="p-b-6">
												<button type="submit" class="filter-link stext-106 trans-04 translate">
														All
												</button>
												<input type="hidden" name="kindFilter" value="All">
												<input type="hidden" name="kindFilter" value="<%= kindFilter %>">
											</li>
											</form>
											<form action="/<%= kind %>" method="post">
											<li class="p-b-6">
												<button type="submit" class="filter-link stext-106 trans-04 translate">
														$0.00 - $50.00
												</button>
												<input type="hidden" name="kindFilter" value="filter-P-0-50">
												<input type="hidden" name="kindFilter" value="<%= kindFilter %>">
											</li>
											</form>
											<form action="/<%= kind %>" method="post">
											<li class="p-b-6">
												<button type="submit" class="filter-link stext-106 trans-04 translate">
														$50.00 - $100.00
												</button>
												<input type="hidden" name="kindFilter" value="filter-P-50-100">
												<input type="hidden" name="kindFilter" value="<%= kindFilter %>">
											</li>
											</form>
											<form action="/<%= kind %>" method="post">
											<li class="p-b-6">
												<button type="submit" class="filter-link stext-106 trans-04 translate">
														$100+
												</button>
												<input type="hidden" name="kindFilter" value="filter-P-100+">
												<input type="hidden" name="kindFilter" value="<%= kindFilter %>">
											</li>
											</form>
										</ul>
								</div>
							<% } else { %>
							%>
							<%
								var grKind1 = ["default", "filter-SB-LH", "filter-SB-HL"];
								var grKind2 = ["All", "filter-P-0-50", "filter-P-50-100","filter-P-100+"];
								var grKind = grKind1.concat(grKind2);
								var checker = (arr, target) => target.every(v => arr.includes(v));
								if (kindFilter.length < 2) {
								if (!(checker(grKind1, kindFilter))) {
								%>
								<div class="filter-col1 p-r-15 p-b-27">
									<div class="mtext-102 cl2 p-b-15 translate">
										Sort By
									</div>

									<ul>
											<form action="/<%= kind %>" method="post">
											<li class="p-b-6">
												<button type="submit" class="filter-link stext-106 trans-04 translate">
													Default
												</button>
												<input type="hidden" name="kindFilter" value="default">
												<input type="hidden" name="kindFilter" value="<%= kindFilter %>">
											</li>
											</form>
											<form action="/<%= kind %>" method="post">
											<li class="p-b-6">
												<button type="submit" class="filter-link stext-106 trans-04 translate">
													Price: Low to High
												</button>
												<input type="hidden" name="kindFilter" value="filter-SB-LH">
												<input type="hidden" name="kindFilter" value="<%= kindFilter %>">
											</li>
											</form>
											<form action="/<%= kind %>" method="post">
											<li class="p-b-6">
												<button type="submit" class="filter-link stext-106 trans-04 translate">
													Price: High to Low
												</button>
												<input type="hidden" name="kindFilter" value="filter-SB-HL">
												<input type="hidden" name="kindFilter" value="<%= kindFilter %>">
											</li>
											</form>
									</ul>
								</div>
								<% } %>
								<% 
								if (!(checker(grKind2, kindFilter))) {
								%>
								<div class="filter-col3 p-r-15 p-b-27">
									<div class="mtext-102 cl2 p-b-15 translate">
										Price
									</div>

									<ul>
										<form action="/<%= kind %>" method="post">
										<li class="p-b-6">
											<button type="submit" class="filter-link stext-106 trans-04 translate">
													All
											</button>
											<input type="hidden" name="kindFilter" value="All">
											<input type="hidden" name="kindFilter" value="<%= kindFilter %>">
										</li>
										</form>
										<form action="/<%= kind %>" method="post">
										<li class="p-b-6">
											<button type="submit" class="filter-link stext-106 trans-04 translate">
													$0.00 - $50.00
											</button>
											<input type="hidden" name="kindFilter" value="filter-P-0-50">
											<input type="hidden" name="kindFilter" value="<%= kindFilter %>">
										</li>
										</form>
										<form action="/<%= kind %>" method="post">
										<li class="p-b-6">
											<button type="submit" class="filter-link stext-106 trans-04 translate">
													$50.00 - $100.00
											</button>
											<input type="hidden" name="kindFilter" value="filter-P-50-100">
											<input type="hidden" name="kindFilter" value="<%= kindFilter %>">
										</li>
										</form>
										<form action="/<%= kind %>" method="post">
										<li class="p-b-6">
											<button type="submit" class="filter-link stext-106 trans-04 translate">
													$100+
											</button>
											<input type="hidden" name="kindFilter" value="filter-P-100+">
											<input type="hidden" name="kindFilter" value="<%= kindFilter %>">
										</li>
										</form>
									</ul>
								</div>
								<% } %>
							<% } %>
						<% } %>
					</div>
				</div>
			</div>

			<%
				if (!(kindFilter[0] == '')) {
			%>
			<div class="flex-w flex-c-m m-tb-10">
				<% 
				kindFilter.forEach(item => { 
				%>
					<div class="flex-c-m stext-106 cl6 size-104 bor4 hov-btn3 trans-04 m-r-8 m-tb-4">
						<div class="translate"><%= item %>&nbsp;&nbsp;</div>
						<form action="/<%= kind %>" method="post">
							<button type="submit" class="filter-link stext-106 trans-04 translate">
								<i class="icon-close-filter cl2 m-r-6 fs-20 trans-04 zmdi zmdi-close"></i>
							</button>
							<input type="hidden" name="kindFilterEdit" value="<%= item %>">
							<input type="hidden" name="kindFilter" value="<%= kindFilter %>">
						</form>
					</div>
				<% }); %>
			</div>
			<% } %>

			<div class="row isotope-grid">
					<% if (products.length > 0) { %>
						<% for (let product of products) { %>
							
						<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item <%= product.category %>">	
								<div class="block2">
									<div class="block2-pic hov-img0">
										<img src="<%= product.imageUrl %>" alt="IMG-PRODUCT">
	
										<a  href="#"
											onclick="showdata('<%= product.name %>', '<%= product.price %>','<%= product.description %>',
											'<%= product.imageUrl %>', '<%= product._id %>')"
											class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
											Quick View
										</a>
									</div>
	
									<div class="block2-txt flex-w flex-t p-t-14">
										<div class="block2-txt-child1 flex-col-l ">
											<a href="/products/<%= product._id %>" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
												<%= product.name %>
											</a>
	
											<span class="stext-105 cl3">
												$<%= product.price %>
											</span>
										</div>
	
										<div class="block2-txt-child2 flex-r p-t-3">
											
										</div>
									</div>
								</div>
						</div>

						<% } %>
						<% } %>
			</div>

			<!-- Load more -->
			<!-- <div class="flex-c-m flex-w w-full p-t-45">
				<a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04 translate">
					Load More
				</a>
			</div> -->
		</div>
	</section>