<%- include('../includes/head.ejs') %>

<body class="animsition">
    <%- include('../includes/header.ejs') %>
    <%- include('../includes/cart-r-side.ejs') %>

    <%- include('../includes/product.ejs', {products: products}) %>
    <%- include('../includes/footer.ejs') %>




    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="zmdi zmdi-chevron-up"></i>
        </span>
    </div>

    <%- include('../includes/modal.ejs') %>
    <%- include('../includes/end.ejs') %>